/* Navbar.css */
.navbar {
  background-color: #000a14;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem; /* Adjust the font size as needed */
  text-decoration: none; /* Remove underline */
  color: #fff; /* Set the color to white */
  margin-left: 1cm;
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  border: 1px solid #020a12;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-nav {
  margin-left: auto;
  color: #000a14;
}

.nav-item {
  margin-right: 15px;
  color: #020a12;
}

.nav-link {
  color: #fff; /* Set the color to white */
  border: none; /* Remove border */
  padding: 8px 15px;
  font-weight: 500; /* Apply font weight */
  text-decoration: none; /* Remove underline */
}

.nav-link:hover {
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .navbar-nav {
    margin: 0;
    text-align: center;
  }

  .nav-item {
    margin: 0;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .nav-link {
    display: block;
    margin: 10px 0;
  }

  .navbar-toggler {
    margin: 5px; /* Add some margin for better spacing */
  }
}

.nav-item:hover .nav-link::after {
  content: "";
  display: block;
  border-bottom: 3px solid #830d5e; /* Adjust the thickness and color of the underline */
  margin-top: 5px; /* Adjust the distance of the underline from the text */
}
